# CIS: Ensure auditing for processes that start prior to auditd is enabled
GRUB_CMDLINE_LINUX="${GRUB_CMDLINE_LINUX} audit=1"

# CIS: Ensure audit_backlog_limit is sufficient
GRUB_CMDLINE_LINUX="${GRUB_CMDLINE_LINUX} audit_backlog_limit={{ auditd_backlog_limit }}"
