# CIS: Ensure file deletion events by users are collected
{% if ansible_userspace_bits == 64 %}
-a always,exit -F arch=b64 -S rename,unlink,unlinkat,renameat -F auid>={{ auditd_uid_min.stdout }} -F auid!=unset -F key=delete
{% endif %}
-a always,exit -F arch=b32 -S rename,unlink,unlinkat,renameat -F auid>={{ auditd_uid_min.stdout }} -F auid!=unset -F key=delete
